<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>靓仔社区</title>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/community.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>

<div class="jumbotron">
    <h1>出错啦！！！</h1>
    <p th:text="${message}">服务器太热啦，要不稍等下来试试~</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</div>
</body>
</html>